# 👉 Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# 👉 Virtual Environment
venv/
env/
ENV/

# 👉 Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# 👉 Static & media
staticfiles/
media/

# 👉 Environment variables
.env

# 👉 VS Code / IDE
.vscode/
.idea/

# 👉 OS files
.DS_Store
Thumbs.db

# 👉 Terraform
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.backup

# 👉 Ansible temp files
*.retry

# 👉 Node modules (if added later)
node_modules/

# 👉 Logs
*.log

# 👉 Gunicorn / deployment
*.pid
*.sock