# =========================
# Python (Django)
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
*.log

# =========================
# Environment variables
# =========================
.env

# =========================
# Secrets / Keys (VERY IMPORTANT)
# =========================
*.pem
*.key

# =========================
# Django static/media (optional)
# =========================
staticfiles/
media/

# =========================
# Terraform (VERY IMPORTANT)
# =========================
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# =========================
# Ansible
# =========================
*.retry

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/